[submodule "sistemas-monoliticos"]
	path = sistemas-monoliticos
	url = https://github.com/DanielAlecrin/sistemas-monoliticos.git
	branch = main
[submodule "clean-architecture"]
	path = clean-architecture
	url = https://github.com/DanielAlecrin/clean-architecture.git
	branch = main
[submodule "event-driven-architecture"]
	path = event-driven-architecture
	url = https://github.com/DanielAlecrin/event-driven-architecture
